.wrapper {
  display: grid;
}

.container {
  display: grid;
  grid-template-areas:
    'box-head box-map'
    'box-long box-map'
    'box-lat box-cam'
    'box-desc box-cam';
}

.box {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.box-map {
  grid-area: box-map;
  justify-content: stretch;
}

.box-cam {
  grid-area: box-cam;
  justify-content: stretch;
}
#textBox{
  height: 30px;
}
#mapscontainer{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 350px;
    width: 1200px;
    justify-content: center;
    border-style: solid;
    border-color: #F1F1F1;
    border-width: 30px;;
    border-radius: .75em;
    box-shadow:
      -12px -12px 12px 0 rgba(255,255,255,0.5),
      12px 12px 12px 0 rgba(0,0,0,0.08);
  }
  #map{
    height: 100%;
    width: 100%;
    border-radius: .80em;
    box-shadow:
      -12px -12px 12px 0 rgba(0,0,0,0.01),
      12px 12px 12px 0 rgba(255, 255, 255, 0.01);
  }
  body{
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #F1f1f1;
    height: 100%;
  }
  #head{
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    color: #4d4d4d;
  }
  #FeedContainer{
    box-shadow:
      -12px -12px 12px 0 rgba(255,255,255,0.5),
      12px 12px 12px 0 rgba(0,0,0,0.08);
    margin-left: auto;
    margin-right: auto;
    justify-content: end;
    height: 500px;
    width: 1280px;
    border-width: 30px;
    border:5px;
  }


  #content{
    height: 100%;
    width: 100%;
  }
#textBoxlat{
  height: 40px;
}
#textBoxlon{
  height: 40px;
}
