.wrapper {
  display: grid;
}

.container {
  display: grid;
  grid-template-areas:
    'box-head box-map'
    'box-lat box-map'
    'box-long box-map'
    'box-date box-map'
    'box-button box-map'
    '. box-cam'
    'box-desc box-cam'
    'box-email box-cam'
    'box-details box-details';
}

.box {
  font-family: sans-serif;
  font-weight: 1000;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.box-map {
  grid-area: box-map;
  justify-content: stretch;
  padding: 25px;
}

.box-cam {
  grid-area: box-cam;
  justify-content: stretch;
}

.box-date {
  grid-area: box-date;

}

.box-button {
  grid-area: box-button;
}

.box-desc {
  grid-area: box-desc;
  text-align: center;
}

.box-email {
  grid-area: box-email;
}

.box-details {
  grid-area: box-details;
}

#Description{
  height: 17vh;
  width: 28vw;
  text-align: center;
}


#mapscontainer{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 350px;
    width: 1170px;
    justify-content: center;
    border-style: solid;
    border-color: #F1F1F1;
    border-width: 30px;;
    border-radius: .75em;
    box-shadow:
      -12px -12px 12px 0 rgba(255,255,255,0.5),
      12px 12px 12px 0 rgba(0,0,0,0.08);
  }

  #FeedContainer{
    box-shadow:
      -12px -12px 12px 0 rgba(255,255,255,0.5),
      12px 12px 12px 0 rgba(0,0,0,0.08);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 400px;
    width: 1250px;
    border-style: solid;
    border-color: #F1F1F1;
    border-width: 30px;
    border-radius: .80em;
    border:5px;
  }

  #map{
    height: 100%;
    width: 100%;
    border-radius: .80em;
    box-shadow:
      -12px -12px 12px 0 rgba(0,0,0,0.01),
      12px 12px 12px 0 rgba(255, 255, 255, 0.01);
  }
  body{
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #F1f1f1;
    height: 100%;
  }
  #head{
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #4d4d4d;
  }

  #content{
    padding: 15px;
    height: 100%;
    width: 100%;
  }

#textBoxlat {
  height: 40px;
  text-align: center;
}

#textBoxlon {
  height: 40px;
  text-align: center;
}

#textBoxDate {
  height: 40px;
  text-align: center;
}
